@model CES.Models.cartonPriceEstimatorModel

@{
    ViewBag.Title = "AddEstimatedCost";
}

<h2>Unit Cost Estimator</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
            @Html.LabelFor(model => model.carton_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.carton_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.carton_id, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.product, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.product, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.product, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.company, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.company, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.company, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.material, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.material, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.material, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dimension, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dimension, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dimension, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.quantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })

            <input type="submit" value="Evaluate" class="btn btn-success" />
            @*<p class="col-md-offset-2 col-md-10">
            </p>*@
        </div>
    </div>


    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.unitcost, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.unitcost, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.unitcost, "", new { @class = "text-danger" })
        </div>
    </div>


   

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Generate Sample Carton" class="btn btn-success" />
            <input type="submit" value="Generate quotation" class="btn btn-success" />
        </div>
    </div>
    <div><h3>@ViewBag.message</h3></div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
